# http://editorconfig.org

root = true

[*]
tab_width = 4
indent_style = space
indent_size = 4

[*.{c++,cc,cpp,cxx,h,h++,hh,hpp,hxx,inl,ipp,tlh,tli}]
insert_final_newline = true
trim_trailing_whitespace = true

[{CMakeLists.txt,*.cmake}]
trim_trailing_whitespace = true

[*.{markdown,md}]
trim_trailing_whitespace = false
